# See https://help.github.com/ignore-files/ for more about ignoring files. See https://github.com/github/gitignore/blob/master/Node.gitignore for a good list of examples.

# Temporary
package-lock
/client/package-lock
/client/yarn.lock
yarn.lock
requestValidation

# Dependencies
/client/node_modules
/node_modules
.env
/sessions

# Testing
/client/coverage

# Production
/client/build

# VSCode
.vscode

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.jshintrc
.editorconfig
Notes.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*
