.top-nav{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    
}
.navbar {
    padding: 1px 5px 5px 3px;
    margin: 4px 10px 10px 10px;
}

.navbar img {
    height: 36px;
    width: auto;
    border-radius: 50%;
}

nav a {
    padding: 10px;
}

nav li {
    list-style-type: none;
}