.sidebar{
    border-right: solid 3px darkblue;
    position: absolute;
    top:0;
    background: #212529;
    width: 150px;
    height: 100vh;
}
.logout{
    position: absolute;
    bottom: 10px;
    width: inherit;
}

.title{
    color: aliceblue;
    padding-top: 10px;
}
@media (max-width: 768px) {
    .title h1{
        font-size: 20px;
    }
}
.page{
    padding-left: 170px;
}